body {
  padding-top: 51px;
  /* padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px; */
  font: 14px "Ubuntu", sans-serif;
  color: #ffffff;
  background-color: grey;
}

.padding-10 {
  padding: 10px;
}

/* Nav container that contains toggle and brand */
.navbar .nav>li>a {
  background: transparent;
  margin: 5px 15px;
  font: 16px "Ubuntu", sans-serif;
}

.logo-block {
  padding: 0px;
  color: #a8a878;
}

.logo-block img {
  width: auto;
  height: auto;
}

/* Landing Page */

.home-block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-block-image {
  border-radius: 4%;
  display: block;
  width: 65%;
  height: 65%;
  margin: auto;
}

.home-steps {
  margin-top: -5%;
  text-align: center;
}

.home-steps img.steps {
  display: inline-block;
  width: 10%;
  margin: auto 20px;
}

#user-text {
  font-size: 16px;
}

#userJumbotron {
  background: #f2f2f2;
  border: 2px solid black;
  color: black;
}

/* SURVEYS */
#surveyJumbotron {
  border: 5px solid #ffffff;
  width: 100%;
  margin-top: -5%;
}

#btnAnswerSurvey {
  width: 75px;
}

ul.list-group.collapse {
  color: black;
}


#listTitle {
  font-size: 18pt;
  vertical-align: middle;
  margin-left: 5%;
}

/* T/F View */
#questionTitle {
  color: grey;
}

#tfchoice {
  color: #000000;
  font-size: 16pt;
}

/* Create MCQ */
#mcqJumbotron {
  color: #000000;
}

/* ETC */
#surveyBadge {
  background-color: grey;
}

#listBadge {
  margin-top: 10px;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb a {
  color: white;
}

.emailfont a {
  color: white;
}

.logo {
  margin-top: -4%;
}

div.team {
  display: inline-block;
  width: 95%;
  border-radius: 15%;
  overflow: hidden;
}

.teamMemberName h4 {
  text-align: center;
}

.teamMemberInfo p {
  text-align: center;
}

.teamMemberInfo article {
  text-align: center;
}


/* RESULT */
#displayTF {
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 12pt;
}

#displayTF th {
  border: 1px solid black;
  font-size: 14pt;
  text-align: center;
}

/*github font */
#githubFont {
  color: white;
}

/*social media icons */
#socialMediaIcons {
  color: white;
}


/* MC CHOICE */
#mcchoice {
  color: black;
}

/* RESULTS MC */
#displayMC {
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 12pt;
}

#displayMC th {
  border: 1px solid black;
  font-size: 14pt;
  text-align: center;
}

/* About us page*/

.about-section {
  padding: 50px;
  text-align: center;
  color: #ffffff;
}

.contact-cards h2 {
  color: #333333;
}

.contact-cards .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 5px;
  padding: 10px 5px;
  background-color: #333333;
}

.contact-cards a,
.contact-cards a:hover {
  background-color: #a8a878;
  background-image: none;
}

.contact-section {
  padding: 50px;
  text-align: center;
  color: #ffffff;
}

.contact-us-form .input-group {
  width: 100%;
}

.contact-section .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 5px;
  padding: 10px 5px;
  background-color: #ffffff;
}

#contacts-submit {
  background-color: #a8a878;
  background-image: none;
  border: 0px;
}

.contact-icons {
  color: #a8a878;
}
