<% include ../partials/header.ejs %>
<main class="container">

  <div class="about-section">
    <h1>– Our Mission –</h1>
    <p>Together we can achieve the target</p> <br>
    <h1>About Us </h1>
    <p>One is a team of six inspiring developers collaborated for creating this survey project together. Our team
      believes
      in innovation and teamwork. Each member of the team made a valuable contribution of their skills in completion
      of
      this project</p>
  </div>
  <div class="jumbotron text-center contact-cards">
    <h2>Our Team</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Adriana.png" alt="Adriana Image">
          <div class="card-body">
            <h4>Adriana Kelly Borges de Castro</h4>
            <h5 class="card-title">UI Programmer</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Hoang.png" alt="Hoang Image">
          <div class="card-body">
            <h4>Nguyen Hoang Long</h4>
            <h5 class="card-title">Security Programmer</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Hussam.png" alt="Hussam Image">
          <div class="card-body">
            <h4>Hussam Eldin Mohamed</h4>
            <h5 class="card-title">Database Programmer</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Joshua.png" alt="Joshua Image">
          <div class="card-body">
            <h4>Joshua Timbol</h4>
            <h5 class="card-title">Project Manager</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Rubleen.png" alt="Rubleen Image">
          <div class="card-body">
            <h4>Rubleen Singh</h4>
            <h5 class="card-title">Lead Software Engineer</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/Sukh.png" alt="Sukhjinder Image">
          <div class="card-body">
            <h4>Sukhjinder Kaur</h4>
            <h5 class="card-title">Web Designer</h5>
            <a href="/contact/" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>
<% include ../partials/footer.ejs %>
