<% include ../partials/header.ejs %>
<main id="contact" role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="contact-section">
        <h1>– Contact Us –</h1>
        <section class="jumbotron text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="panel panel-default well">
                  <div class="panel-body">
                    <form action="" class="form-horizontal contact-us-form" method="post" id="contact-us-all">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputFirstName"
                              placeholder="Enter your first name" name="C_FirstName" data-bv-field="C_FirstName">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputLastName"
                              placeholder="Enter your last name" name="C_LastName" data-bv-field="C_LastName">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email"
                              name="C_EmailAddress">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" id="C_BusPhone"
                              placeholder="Enter your phone number" name="C_BusPhone">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <textarea class="form-control" name="Comments" id="Comments" rows="5" style="width:100%"
                              placeholder="Enter your message here"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <button id="contacts-submit" type="submit" class="btn btn-default btn-info">Let's
                            Connect</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <div class="well">
                    <a href="tel:+16470010001">
                      <i class="fa fa-phone fa-5x mb-3 contact-icons" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="well">
                    <a href="mailto:onesurvey@gmail.com">
                      <i class="fa fa-envelope fa-5x mb-3 contact-icons" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="well">
                    <a href="https://github.com/hoangnguyen2108/Assignment-Group" target="_blank">
                      <i class="fa fa-github fa-5x mb-3 contact-icons" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>
</main>

<% include ../partials/footer.ejs %>
