<% include ../partials/header.ejs %>
<div class="container">
    <div class="col-md-12 home-block">
        <img class="home-block-image" src="assets/images/so1.png">
        <div class="col-md-12 home-steps">
            <a href="/register"> <img class="steps" src="assets/images/step1.png" alt="step1"> </a>
            <a href="/survey/createNew"><img class="steps" src="assets/images/step2.png" alt="step2"> </a>
            <a href="/register"> <img class="steps" src="assets/images/step3.png" alt="step3"> </a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
